<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 下面是配置扫描包的位置,包名为com.ework.upms.server,也就是说,我们的试图解析器应该放在com.ework.upms.server包下. -->
    <context:component-scan base-package="com.ework.upms.server"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean id="test"
          class="com.ework.upms.server.TestObj">
    </bean>

    <bean id="test1"
          class="com.ework.upms.server.TestObj">
    </bean>

    <bean id="test_constructor"
          class="com.ework.upms.server.TestObj">
        <constructor-arg index="0">
            <value>233</value>
        </constructor-arg>
        <constructor-arg index="1">
            <value>asdf</value>
        </constructor-arg>
    </bean>

    <!--引入多个配置文件-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/display"/>
            <mvc:mapping path="/a/**"/>
            <mvc:mapping path="/b/**"/>
            <mvc:exclude-mapping path="/a/b/**"/>
            <mvc:exclude-mapping path="/b/a/**"/>
            <bean class="com.ework.upms.server.interceptor.LoginInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

</beans>